html, body {
  margin: 0;
  padding: 0;
  font-family: Verdana,Arial,Sans-serif;
}

h1, h2, h3, h4, h5, h6{
  color:#444;
  margin-top:0px;
}

.date-time-title{
  margin: 0px;
}

.body-paragraph{
  margin-top:0px;
}

#subtitle-box {
  padding: 20px;
  color: #000;
}

#subtitle{
  font-size: 170%;
}

.pale-green-subtitle {
  background-color:#CCFF80;
}
.yellow-subtitle{
  background-color:#FFFF77;
}
.orange-subtitle{
  background-color:#FFCF77;
}
.red-subtitle{
  background-color:#FFA0A0;
}
.light-blue-subtitle{
  background-color:#77DCFF;
}
.dark-blue-subtitle{
  background-color:#7777FF;
}
.purple-subtitle{
  background-color:#C577E7;
}

#main-container {
  width: 100%;
  height: 100%;
  font-size: 85%;
}

#content-wrapper {
  color: #000;
  float:left;
  height:100%;
  width:100%;
}

#sidebar-wrapper{
  position:fixed;
  height: 100%;
  width: 220px;
  background-color:#444;
  text-align: right;
  float: left;
  color: #444;
}

#content {
  text-align: left;
  width:700px;
  padding: 30px;
  line-height: 150%;
  background-color:#FFF;
}

#content-scroll-wrapper {
  margin-left:220px;
  overflow-x:hidden;
  overflow-y:auto;
  height:100%;
}

#title-link{
  text-decoration:none;
}
#title-link:link{
  text-decoration:none;
}
#title-link:hover{
  text-decoration:none;
}
#title-link:visited{
  text-decoration:none;
}
#title-link:active{
  text-decoration:none;
}

.first-paragraph {
  text-indent: 4em;
}

.image-holder {
  float: left;
  padding: 0px 2px 2px 0px;
  margin: 0px;
}

.horizontal-line {
  margin: 0.5em;
  height: 1px;
  background-color: #000;
  float: left;
  width: 250px;
}

.sidebar-line {
  height: 1px;
  background-color: #000;
  width: 100%;
}

.sidebar-title {
  font-weight:bold;
}

.sidebar-text {
  color: #000;
  background-color: #DDD;
  padding: 20px;
}

.center {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

.center-text {
  width: 100%;
  text-align:center;
}

.v-bold {
  font-weight:900;
  color: #000;
}

.empty-line{
  font-size: %;
}

.sidebar-link{
  background-color:#F8F8F8;
  text-decoration:underline;
}
.sidebar-link:link {color:#000;}                                /* unvisited link */
.sidebar-link:visited {color:#000;}                             /* visited link */
.sidebar-link:hover {color:#000; text-decoration:none;}         /* mouse over link */
.sidebar-link:active {color:#000;}                              /* selected link */

.sidebar-link-div{
  padding:20px;
  padding-left:10px;
}

.sidebar-img{
  padding:20px;
}

.latest-news{
  padding-left:30px;
  padding-top:0px;
}

.latest-news-title{
  margin-bottom:0px;
}

#titlebar{
  padding:20px;
  background-color:#444;
  color: #fff;
}

#main-title {
  font-size:170%;
}

#pale-green-sidebar:hover {
  background-color:#ECFFCF;
}
#pale-green-sidebar {
  background-color:#CCFF80;
}
#yellow-sidebar:hover{
  background-color:#FFFFCC;
}
#yellow-sidebar{
  background-color:#FFFF77;
}
#orange-sidebar:hover{
  background-color:#FFEDCC;
}
#orange-sidebar{
  background-color:#FFCF77;
}
#red-sidebar:hover{
  background-color:#FFDBDB;
}
#red-sidebar{
  background-color:#FFA0A0;
}
#light-blue-sidebar:hover{
  background-color:#CCF2FF;
}
#light-blue-sidebar{
  background-color:#77DCFF;
}
#dark-blue-sidebar:hover{
  background-color:#CCCCFF;
}
#dark-blue-sidebar{
  background-color:#7777FF;
}
#purple-sidebar:hover{
  background-color:#E9CCF6;
}
#purple-sidebar{
  background-color:#C577E7;
}